<% if @status == "all" %>
	<div class="row">
		<h2>Sort by status:</h2>
		<%= link_to "New", messages_path(status: 0), class: "btn btn-primary" %>
		<%= link_to "Done", messages_path(status: 1), class: "btn btn-primary" %>
		<%= link_to "Actual", messages_path(status: 2), class: "btn btn-primary" %>
		<%= link_to "Not Relevant", messages_path(status: 4), class: "btn btn-primary" %>
	</div><hr />
	<br />

	<%= render "messages/sorting/unsorted_list" %>
<% else %>
	<div class="row">
		<h2>Showing messages with selected status</h2>
		<%= link_to "Show all messages", messages_path(status: "all") %>
	</div><hr />
	<br />

	<%= render "messages/sorting/sorted_list" %>

<% end %>