<!--<div class="col-md-6">-->
  <!--<div style='width: 585px; position: fixed;'>-->
    <!--<div class="btn-group btn-group-justified">-->
      <!--<%= link_to "New", messages_path(status: :new_message), class: "btn btn-info" %>-->
      <!--<%= link_to "Done", messages_path(status: :done), class: "btn btn-success" %>-->
      <!--<%= link_to "All", messages_path(status: nil), class: "btn btn-primary" %>-->
      <!--<%= link_to "Actual", messages_path(status: :actual), class: "btn btn-warning" %>-->
      <!--<%= link_to "Not Relevant", messages_path(status: :not_relevant), class: "btn btn-default" %>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<%= render partial: 'shared/list_messages.html.erb'%>