<% @messages.each do |message| %>
	<div class="col-md-offset-1 col-md-10">
		<div class="breadcrumb">
			<div class="row">
				<div class="col-md-8">
					<div class="desc">
						<h3>
							<p> <b> Description: </b> </p> 
							<p>	<%= message.body %>  </p>
							<hr>
							<p>Status: 
							<b>	<%= message.status if !message.status.nil? %> <%= "No status" if message.status.nil? %> </b></p>
						</h3>
					
						<%= link_to "Done", messages_done_path(message.id), :method => 'post', class: "btn btn-lg btn-default" %>
						<%= link_to "Hide", messages_hidden_path(message.id), :method => 'post', class: "btn btn-lg btn-default" %>
						<%= link_to "not relevant", messages_not_relevant_path(message.id), :method => 'post', class: "btn btn-lg btn-default" %>
						<%= link_to "actual", messages_actual_path(message.id), :method => 'post', class: "btn btn-lg btn-default" %>
							
					</div>
				</div>
				<div class="col-md-4">
					<% message.images.each do |image| %>
						<%= image_tag(image.image_url, size: 300, class: 'problem_image') %>
					<% end %>
				</div>
			</div>
 
			<div class="row">
				<div class="jumbotron">
					<img class="map" src="/maps/google.jpg">
				</div>
			</div>
		</div>
	</div>
<% end %>