<% @messages.each do |message| %>
	<div class="col-md-offset-1 col-md-10">
		<div class="breadcrumb">
			<div class="row">
				<div class="col-md-8">
					<div class="desc">
						<h1>Lat: <%= message.latitude %>
								Lng: <%= message.longitude %><br \>
								Adds: <%= message.address %>
						</h1>
						<h1><%= link_to "View", message_path(message.id) %></h1>
						<h3>
							<p> <b> Description: </b> </p> 
							<p>	<%= message.body %>  </p>
							<hr>
							<p>Status: 
							<b>	<%= message.status %></b></p>
						</h3>
						<%= render partial: 'change_status', locals: { message: message } %>
					</div>
				</div>
				<div class="col-md-4">
					<% message.images.each do |image| %>
						<%= image_tag(image.image_url, size: 300, class: 'problem_image') %>
					<% end %>
				</div>
			</div>
 
			<div class="row">

				<div class="jumbotron">
					<h1>Тут будет карта, когда запилим AJAX.</h1>
				</div>

			</div>
		</div>
	</div>

<% end %>

