<div class="col-sm-4">
  <h2 class="page-header">Вход</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Пароль" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label "Запомнить меня" %>
      </div>
    <% end -%>

    <div class="form-group">
      <%= f.submit "Войти", class: "btn btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
<div class="col-sm-2"></div>
<div class="col-sm-6 text-center">
  <br />
  <div class="panel">
    <% if !@messages.nil? %>
      <b><p class="text-left">Recent activity</p></b>
      <% @messages.each_with_index do |message, index| %>
        <h3 class="text-right"><%= link_to message.body.truncate(30, separator: ' '), ("#message_modal_" + index.to_s), "data-toggle" => "modal" %></h3>
        <p><%= time_ago_in_words(message.created_at, include_seconds: true) %></p>
        <hr />
        <div id="message_modal_<%= index %>" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%= message.body %></h4>
              </div>
              <div class="modal-body">
                <% message.images.each do |image| %>
                  <%= image_tag(image.image_url(:actual)) %>
                  <hr>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
